@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.game-board {
    font-size: 24px;
    border-radius: 20px;
    background-color: #151B23;
    color: white;
}

.question-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}
