.how{
    position: absolute;
    width: 820px;
    height: 264px;

    background: #151B23;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
}

h3{
    margin-top: 5%;
    text-align: center;
}