@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.cont-start {
    padding-top: 30px;
    width: 61.25% !important;
    margin-left: 19.25%;
}

.start-board {
    font-size: 24px;
    border-radius: 20px;
    background-color: #151B23;
    color: white;
    background: #151B23;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
}